/*----------------------------------------------Home------------------------------------------------------------*/
.headMain{
    font-size: 52px;
}
#explore{
    border: 2px solid #769279;
    padding: 8px;
    font-size: 17px;
}
#service-1{
    flex-direction: column;
}
#service-2{
    flex-direction: column;
}
#contpic{
    display: none;
}
.contactform{
    display: inline;
}
#sendbtn{
    left: 0;
    margin-top: 0px;
    top: 17px;
}
.navbar{
    flex-direction: column;
}
.box{
    margin: 20px;
}

.contactHead{
    margin: 0 0 30px 0;
    font-size: 55px;
}
.contactform label{
    display: block;
}
.contactform input{
    display: block;
    height: 50px;
    width: 90vw;
}
.contactform textarea{
    display: block;
    width: 90vw;
}
.outerForm{
    justify-content: unset;
    margin: 0 10px;
}
.menu{
    flex-direction: column;
    gap: 33px;
    position: fixed;
    background-color: black;
    opacity: 1.6;
    margin: 0;
    top: 62px;
    right: -100%;
    width: 50%;
    height: 100vh;
    padding-left: 0;
    transition: 0.5s ease-in-out;
}
.navbar a{
    padding: 16px 125px 16px 38px;
}
li{
    margin-top: 21px;
}
.hamburger{
    display: inline;
    position: absolute;
    right: 13px;
    top: 15px;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: 0.5s ease-in-out;
}
.active{
    right: 0;
    transition: 0.5s ease-in-out;
}
.upperBar{
    transform: rotate(45deg) translateY(11px);
    transition: 0.5s ease-in-out;
}
.middleBar{
    opacity: 0;
}
.lowerBar{
    transform: rotate(-45deg) translateY(-11px);
    transition: 0.5s ease-in-out;
}
.contactform input{
    color: #62cfca;
  }
  .contactform textarea{
    color: #62cfca;
  }