#services{
    flex-direction: column;
    margin-bottom: 0;
}
#service{
    flex-direction: column;
    margin-bottom: 0;
}
#contpic{
    display: none;
}
#explore{
    font-size: 17px;
    padding: 8px;
}
.contactform{
    display: inline;
}
#sendbtn{
    left: 0;
    margin-top: 0px;
    top: 17px;
}
.navbar{
    flex-direction: column;
}
.explr{
    height: 384px;
}
.headMain{
    font-size: 47px;
}

.serviceHead{
    margin-top: 59px;
    font-size: 47px;
}
.box{
    margin: 20px;
}

.contactHead{
    margin: 0 0 30px 0;
}
.contactform label{
    display: block;
    margin-left: 10px;
}
.contactform input{
    display: block;
    margin-left: 10px;
    width: 250px;
}
.contactform textarea{
    display: block;
    margin-left: 10px;
    width: 250px;
}
.contactHead{
    font-size: 55px;
}
.menu{
    flex-direction: column;
    gap: 33px;
    position: fixed;
    background-color: black;
    opacity: 1.6;
    margin: 0;
    top: 62px;
    right: -100%;
    width: 50%;
    height: 100vh;
    padding-left: 0;
    transition: 0.5s ease-in-out;
}
.navbar a{
    padding-left: 64px;
    padding-right: 65px;
}
li{
    margin-top: 21px;
}
.hamburger{
    display: inline;
    position: absolute;
    right: 13px;
    top: 15px;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: 0.5s ease-in-out;
}
.active{
    right: 0;
    transition: 0.5s ease-in-out;
}
.upperBar{
    transform: rotate(45deg) translateY(11px);
    transition: 0.5s ease-in-out;
}
.middleBar{
    opacity: 0;
}
.lowerBar{
    transform: rotate(-45deg) translateY(-11px);
    transition: 0.5s ease-in-out;
}