#home{
    gap: 15px;
}
.box{
    margin: 0;
}
#service-1 , #service-2{
    flex-direction: column;
}
.box{
    margin: 20px 10px;
}
.contactform input{
    color: #62cfca;
    height: 50px;
  }
  .contactform textarea{
    color: #62cfca;
  }